<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>	
  
  <servlet>
  		<servlet-name>LoginServlet</servlet-name>
  		<servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  		<servlet-name>RegisterServlet</servlet-name>
  		<servlet-class>com.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VerfityServlet</servlet-name>
    <servlet-class>com.servlet.VerfityServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LeafServlet</servlet-name>
    <servlet-class>com.servlet.LeafServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SaveResult</servlet-name>
    <servlet-class>com.servlet.SaveResult</servlet-class>
  </servlet>



  <servlet-mapping>
  		<servlet-name>LoginServlet</servlet-name>
  		<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  		<servlet-name>RegisterServlet</servlet-name>
  		<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>VerfityServlet</servlet-name>
    <url-pattern>/VerfityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LeafServlet</servlet-name>
    <url-pattern>/LeafServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveResult</servlet-name>
    <url-pattern>/SaveResult</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
