<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>GetCategoriesServlet</servlet-name>
    <servlet-class>com.servlet.GetCategoriesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetSpecifyCategoryNewsServlet</servlet-name>
    <servlet-class>com.servlet.GetSpecifyCategoryNewsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetNewsServlet</servlet-name>
    <servlet-class>com.servlet.GetNewsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetCommentsServlet</servlet-name>
    <servlet-class>com.servlet.GetCommentsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PostCommentServlet</servlet-name>
    <servlet-class>com.servlet.PostCommentServlet</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>GetCategoriesServlet</servlet-name>
    <url-pattern>/getCategories</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetSpecifyCategoryNewsServlet</servlet-name>
    <url-pattern>/getSpecifyCategoryNews</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetNewsServlet</servlet-name>
    <url-pattern>/getNews</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCommentsServlet</servlet-name>
    <url-pattern>/getComments</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PostCommentServlet</servlet-name>
    <url-pattern>/postComment</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
